
    <!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'home.html' %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Signup</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <section class = "product-header">
    {% endblock %}
        {% block text %}
        {% endblock %}
     {% block body %}
            <section class="message">
        <div class="message-row">
            <div class="confirm">
                <i style="font-size: 4em; filter: invert(1);" class="fa fa-check-circle"></i>
                <h3>Success</h3>
            </div>
            <div class="message-div">
                <p>
                    Congratulations, your order has been placed successfully.
                </p>
                <a href="/">Continue to Homepage</a>
            </div>

        </div>


    </section>
     {% endblock %}
</body>
</html>