<!DOCTYPE html>
<html>

<head>
    {% extends 'home.html' %}
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Change Successful</title>
    {% endblock %}
</head>

<body>
{% block header %}
<section class = "product-header">
    {% endblock %}
    {% block text %}
    {% endblock %}
    {% block body %}
    <section class = "reset-complete">
        <h2>Password Reset Complete </h2>
        <hr>
        <p>Your password has been reset. You may go ahead and log in now</p><br><br>
        <a href = "/accounts/login" class = "back-to-login-button" ><span>Login</span></a>
    </section>

    {% endblock %}
</body>

</html>
