<!DOCTYPE html>
<html>
<head>
    {% extends 'home.html' %}
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}
    <title>Password Reset</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>

{% block header %}
<section class = "product-header">
    {% endblock %}
    {% block text %}
    {% endblock %}
    {% block body %}
    <section class = "password-reset">
        <h2 style = "color: #000" id="passwordReset">Password Reset </h2>
        <p style = "color: #000">Forgotten your password? Enter your email address below and we will send instructions for you to recover your account </p>
        <form  method="POST">{% csrf_token %}

            {{form}}
            <br><br>
        <a href = "/login"><button id="reset">Reset my password</button></a>
        </form>

    </section>

    {% endblock %}
</body>
</html>
















