<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Reset Email</title>
    <style>h2, p
{
  padding-left: 2%;
}
</style>
</style>
</head>
<body>
  <h2>Password reset sent </h2>
  <hr>
  <p>We've emailed you instruction for setting your password, if
    an account exists with the email you entered, You should receive them shortly.
    If you don't receive an email, please make sure you've entered the address you registered with, and
    check your spam folder.</p>


</form>
</body>
</html>





